.result {
    width: 100%;
}

.result .top-part {
    padding-top: 10px;
}

.result .buttons-row {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.result .buttons-row button {
    width: 120px;
    font-size: 12px;
    padding: 8px 0;
}

.result .buttons-row .btn:hover {
    color: white;
}

.result .card {
    border: 2px solid orange;
    width: 100%;
}

.result h1,
.result h2 {
    color: orange;
}

.result .sm-heading {
    text-align: left;
    font-size: 24px;
}

.r-row {
    display: flex;
    justify-content: space-between;
}

.r-row span {
    font-size: 14px;
    font-weight: bold;
}

.result .right-part {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    height: 100%;
}

.result .chart-parent {
    width: 75%;
    height: 75%;
}

@media screen and (max-width: 768px) {
    .result .right-part {
        padding: 16px 0;
    }

    .result .chart-parent {
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .result .chart-parent {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .close-btn-div {
        top: 14px;
        right: 14px;
    }
    .result .buttons-row {
        gap: 4px;
    }

    .result .buttons-row button {
        width: 100px;
        font-size: 11px;
    }

    .result .chart-parent {
        height: 140px;
    }
}
