.card-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-parent .card {
    width: 500px;
    padding: 10px;
    border: 1px solid rgb(23, 174, 159);
}

.sign-h {
    text-align: center;
    color: rgb(23, 174, 159);
    font-size: 22px;
}

.card .btn {
    background-color: rgb(23, 174, 159);
    border: 2px solid transparent;
    font-weight: 500;
}

.card .btn:hover {
    background-color: transparent;
    border-color: rgb(23, 174, 159);
    color: rgb(23, 174, 159);
}
